.navbarLink:hover {
  color: #ff0032;
}

@keyframes build {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(-70%, 0, 0);
  }
}

.buildSlide {
  animation: build 60s linear infinite  ;
}
